
h1{
    color: rgb(91, 180, 1);
}
button{
    color: rgb(91, 180, 1);
    border-color: chartreuse; 
}
input{
    border-color: chartreuse;
}
img{
    margin-top: 20px;
    width: 250px;
    height: 250px;
}

